:root {
  --bg-app: #f4f6f9;
  --text-title: #1e293b;
  --text-subtitle: #475569;
}

body {
  background-color: var(--bg-app) !important;
  color: var(--text-title);
  font-family: "Segoe UI", Roboto, sans-serif;
  min-height: 100vh;
}

h1,
.main-title {
  color: var(--text-title);
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2,
h3,
.sub-title {
  color: var(--text-subtitle);
  font-weight: 400;
}
